
body{
    background:#f8fdbd;
    font-family:"Times New Roman", serif;
    margin:0;
    letter-spacing:2px;
    margin-top:5px;
}

.page{
    width:1100px;
    margin:20px auto;
    background:white;
    padding:20px;
}
hr{ 
    border:1px solid black;
 }
hr.thick{ 
    border:3px solid black; 
}

.top-strip{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.box{
    border:2px solid black;
    padding:5px 10px;
    font-size:12px;
    font-weight:bold;
}

.paper-name{
    font-size:32px;
    font-weight:bold;
    letter-spacing:2px;
}

.headline{
    text-align:center;
    margin:20px 0;
}

.headline h1{
    font-size:70px;
    margin:0;
    letter-spacing:3px;
}

.headline p{
    font-size:18px;
}
.content{
    display:table;
    width:100%;
    table-layout:fixed;
    margin-top:20px;
}

.col{
    display:table-cell;
    vertical-align:top;
    padding:10px;
    text-align:justify;
    font-size:15px;
}

.left,.right{ width:30%; }
.middle{ width:40%; text-align:center; }

.middle img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.col h3{
    text-align:center;
    font-size:16px;
    margin-bottom:10px;
}


.bottom-strip{
    border:2px solid black;
    padding:10px;
    text-align:center;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:20px;
}