
body {
    background: #070208;
    color: #f3e5ff;
    font-family: Arial, sans-serif;
  
}

header {
    text-align: center;
    padding: 30px 15px;
    background: #130213;
    border-bottom: 1px solid #5e1c3b;
}

h1 {
    font-size: 36px;
    color: #e84b7f;
    letter-spacing: 2px;
}

.tagline {
    font-size: 15px;
    color: #d9b2d9;
    margin-top: 6px;
}

.box {
    background: #120011;
    margin: 20px;
    padding: 18px 20px;
    border-left: 3px solid #d6406e;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.7);
}

.box h2 {
    margin-bottom: 10px;
    color: #ff9ac6;
    text-transform: uppercase;
}


p {
    line-height: 1.7;
    margin-bottom: 8px;
}


ul {
    margin-left: 22px;
    margin-top: 6px;
}

li {
    margin-bottom: 6px;
}


.tvd-img {
    display: block;
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    margin: 10px auto 15px;
    box-shadow: 0 0 20px rgba(255,0,90,0.4);
}

.center {
    text-align: center;
}

button {
    padding: 10px 22px;
    background: #d6406e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff5f97;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 12px;
    background: #130213;
    border-top: 1px solid #5e1c3b;
    font-size: 14px;
}
